USE [master]
GO
/****** Object:  Database [Shvei]    Script Date: 02.11.2022 22:15:36 ******/
CREATE DATABASE [Shvei]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shvei', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Shvei.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Shvei_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Shvei_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shvei].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shvei]
GO
/****** Object:  Table [dbo].[Cvet]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cvet](
	[Kod] [int] NOT NULL,
	[Naimenovanie] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cvet] PRIMARY KEY CLUSTERED 
(
	[Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Furnitura]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Furnitura](
	[Articul] [nvarchar](50) NOT NULL,
	[Naimenovanie] [nvarchar](max) NOT NULL,
	[Tip] [int] NOT NULL,
	[Shirina] [decimal](18, 2) NOT NULL,
	[Dlina] [decimal](18, 2) NULL,
	[Ves] [decimal](18, 3) NULL,
	[Izobrazhenie] [nvarchar](max) NULL,
	[Zena] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Furnitura] PRIMARY KEY CLUSTERED 
(
	[Articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FurnituraIzdeliya]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FurnituraIzdeliya](
	[ArticulFurnitury] [nvarchar](50) NOT NULL,
	[ArticulIzdeliya] [nvarchar](50) NOT NULL,
	[Razmechshenie] [nvarchar](max) NOT NULL,
	[Shirina] [int] NULL,
	[Dlina] [int] NULL,
	[Povorot] [int] NULL,
	[Kolichectvo] [int] NOT NULL,
 CONSTRAINT [PK_FurnituraIzdeliya] PRIMARY KEY CLUSTERED 
(
	[ArticulFurnitury] ASC,
	[ArticulIzdeliya] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Izdelie]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izdelie](
	[Articul] [nvarchar](50) NOT NULL,
	[Naimenovanie] [nvarchar](150) NOT NULL,
	[Shirina] [int] NOT NULL,
	[Dlina] [int] NOT NULL,
	[Izobrazhenie] [nvarchar](100) NULL,
	[Commentariy] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialSostav]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialSostav](
	[Kod] [int] NOT NULL,
	[Naimenovanie] [nvarchar](50) NULL,
	[Prozent] [int] NULL,
 CONSTRAINT [PK_MaterialSostav] PRIMARY KEY CLUSTERED 
(
	[Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polzovatel]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polzovatel](
	[Login] [nvarchar](50) NOT NULL,
	[Parol] [nvarchar](150) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Naimenovanie] [nvarchar](max) NULL,
 CONSTRAINT [PK_Polzovatel] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Risunok]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Risunok](
	[Kod] [int] NOT NULL,
	[Naimenovanie] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Risunok] PRIMARY KEY CLUSTERED 
(
	[Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rulon]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rulon](
	[Articul] [nvarchar](50) NOT NULL,
	[Sostav] [int] NOT NULL,
	[Cvet] [int] NOT NULL,
	[Shirina] [int] NOT NULL,
	[Dlina] [int] NOT NULL,
 CONSTRAINT [PK_Rulon] PRIMARY KEY CLUSTERED 
(
	[Articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RulonIzdelie]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RulonIzdelie](
	[ArticulIzdeliya] [nvarchar](50) NOT NULL,
	[ArticulRulona] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RulonIzdelie] PRIMARY KEY CLUSTERED 
(
	[ArticulIzdeliya] ASC,
	[ArticulRulona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkladFurnitury]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkladFurnitury](
	[KodPartii] [nvarchar](50) NOT NULL,
	[ArticulFurnitury] [nvarchar](50) NOT NULL,
	[Kolichectvo] [int] NULL,
 CONSTRAINT [PK_SkladFurnitury] PRIMARY KEY CLUSTERED 
(
	[KodPartii] ASC,
	[ArticulFurnitury] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkladTkani]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkladTkani](
	[KodRulona] [int] NOT NULL,
	[ArticulTkani] [nvarchar](50) NOT NULL,
	[Shirina] [int] NULL,
	[Dlina] [int] NULL,
 CONSTRAINT [PK_SkladTkani] PRIMARY KEY CLUSTERED 
(
	[KodRulona] ASC,
	[ArticulTkani] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SostavTkanei]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SostavTkanei](
	[ArticulTkani] [nvarchar](50) NOT NULL,
	[KodMateriala] [int] NOT NULL,
 CONSTRAINT [PK_SostavTkanei] PRIMARY KEY CLUSTERED 
(
	[ArticulTkani] ASC,
	[KodMateriala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipFurnitury]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipFurnitury](
	[Kod] [int] NOT NULL,
	[Naimenovanie] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipFurnitury] PRIMARY KEY CLUSTERED 
(
	[Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tkan]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tkan](
	[Articul] [nvarchar](50) NOT NULL,
	[Naimenovanie] [nvarchar](max) NOT NULL,
	[KodCvet] [int] NULL,
	[KodRisunok] [int] NULL,
	[Shirina] [int] NOT NULL,
	[Dlina] [int] NOT NULL,
	[Zena] [decimal](18, 2) NOT NULL,
	[Izobrazhenie] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tkan] PRIMARY KEY CLUSTERED 
(
	[Articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TkaniIzdeliya]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TkaniIzdeliya](
	[ArticulTkani] [nvarchar](50) NOT NULL,
	[ArticulIzdeliya] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TkaniIzdeliya] PRIMARY KEY CLUSTERED 
(
	[ArticulTkani] ASC,
	[ArticulIzdeliya] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakaz]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakaz](
	[Nomer] [int] NOT NULL,
	[Data] [datetime2](7) NOT NULL,
	[Etap] [nvarchar](50) NOT NULL,
	[Stoimost] [decimal](18, 0) NULL,
	[LoginPolzovateleya] [nvarchar](50) NOT NULL,
	[LoginMenedzhera] [nvarchar](50) NULL,
 CONSTRAINT [PK_Zakaz_1] PRIMARY KEY CLUSTERED 
(
	[Nomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZakazannieIzdeliya]    Script Date: 02.11.2022 22:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZakazannieIzdeliya](
	[NomerZakaza] [int] NOT NULL,
	[ArticulIzdeliya] [nvarchar](50) NOT NULL,
	[Kolichestvo] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ZakazannieIzdeliya] PRIMARY KEY CLUSTERED 
(
	[NomerZakaza] ASC,
	[ArticulIzdeliya] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cvet] ([Kod], [Naimenovanie]) VALUES (1, N'розовый')
INSERT [dbo].[Cvet] ([Kod], [Naimenovanie]) VALUES (2, N'зеленый')
INSERT [dbo].[Cvet] ([Kod], [Naimenovanie]) VALUES (3, N'желтый')
GO
INSERT [dbo].[Furnitura] ([Articul], [Naimenovanie], [Tip], [Shirina], [Dlina], [Ves], [Izobrazhenie], [Zena]) VALUES (N' B-1512', N'Бретели для бюстгальтеров "Gamma" B-15 в блистере 15 мм прозрачный', 20, CAST(0.50 AS Decimal(18, 2)), CAST(1.50 AS Decimal(18, 2)), CAST(13.000 AS Decimal(18, 3)), N'', CAST(116.00 AS Decimal(18, 2)))
INSERT [dbo].[Furnitura] ([Articul], [Naimenovanie], [Tip], [Shirina], [Dlina], [Ves], [Izobrazhenie], [Zena]) VALUES (N' FER-05', N'"Zlatka" FER-05 Застежка для сумки ', 18, CAST(20.50 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), CAST(3.000 AS Decimal(18, 3)), N'', CAST(565.00 AS Decimal(18, 2)))
INSERT [dbo].[Furnitura] ([Articul], [Naimenovanie], [Tip], [Shirina], [Dlina], [Ves], [Izobrazhenie], [Zena]) VALUES (N' FER-09', N'Zlatka FER-09 Застежка для сумки', 18, CAST(20.50 AS Decimal(18, 2)), CAST(7.50 AS Decimal(18, 2)), CAST(11.000 AS Decimal(18, 3)), N'', CAST(389.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Izdelie] ([Articul], [Naimenovanie], [Shirina], [Dlina], [Izobrazhenie], [Commentariy]) VALUES (N'001.427.40', N'Простыня', 260, 150, NULL, NULL)
INSERT [dbo].[Izdelie] ([Articul], [Naimenovanie], [Shirina], [Dlina], [Izobrazhenie], [Commentariy]) VALUES (N'001.635.58', N'Простыня', 100, 150, NULL, NULL)
INSERT [dbo].[Izdelie] ([Articul], [Naimenovanie], [Shirina], [Dlina], [Izobrazhenie], [Commentariy]) VALUES (N'001.745.14', N'Полотенце кухонное', 70, 50, NULL, NULL)
GO
INSERT [dbo].[MaterialSostav] ([Kod], [Naimenovanie], [Prozent]) VALUES (1, N'органза', 100)
INSERT [dbo].[MaterialSostav] ([Kod], [Naimenovanie], [Prozent]) VALUES (2, N'полиэстер', 100)
INSERT [dbo].[MaterialSostav] ([Kod], [Naimenovanie], [Prozent]) VALUES (5, N'полиэстер', 55)
GO
INSERT [dbo].[Polzovatel] ([Login], [Parol], [Role], [Naimenovanie]) VALUES (N'dir', N'dir', N'Директор', NULL)
INSERT [dbo].[Polzovatel] ([Login], [Parol], [Role], [Naimenovanie]) VALUES (N'klad', N'123', N'Кладовщик', NULL)
INSERT [dbo].[Polzovatel] ([Login], [Parol], [Role], [Naimenovanie]) VALUES (N'man', N'man', N'Менеджер', NULL)
GO
INSERT [dbo].[Risunok] ([Kod], [Naimenovanie]) VALUES (1, N'детский')
INSERT [dbo].[Risunok] ([Kod], [Naimenovanie]) VALUES (2, N'однотонный')
INSERT [dbo].[Risunok] ([Kod], [Naimenovanie]) VALUES (3, N'цветы')
GO
INSERT [dbo].[Rulon] ([Articul], [Sostav], [Cvet], [Shirina], [Dlina]) VALUES (N'1', 16, 9, 180, 160)
INSERT [dbo].[Rulon] ([Articul], [Sostav], [Cvet], [Shirina], [Dlina]) VALUES (N'10,1', 18, 54, 120, 180)
INSERT [dbo].[Rulon] ([Articul], [Sostav], [Cvet], [Shirina], [Dlina]) VALUES (N'10,2', 18, 57, 1800, 120)
GO
INSERT [dbo].[SostavTkanei] ([ArticulTkani], [KodMateriala]) VALUES (N'1015', 2)
INSERT [dbo].[SostavTkanei] ([ArticulTkani], [KodMateriala]) VALUES (N'1016', 2)
INSERT [dbo].[SostavTkanei] ([ArticulTkani], [KodMateriala]) VALUES (N'1017', 2)
GO
INSERT [dbo].[TipFurnitury] ([Kod], [Naimenovanie]) VALUES (1, N'тесьма')
INSERT [dbo].[TipFurnitury] ([Kod], [Naimenovanie]) VALUES (2, N'крючок')
INSERT [dbo].[TipFurnitury] ([Kod], [Naimenovanie]) VALUES (3, N'стразы')
GO
INSERT [dbo].[Tkan] ([Articul], [Naimenovanie], [KodCvet], [KodRisunok], [Shirina], [Dlina], [Zena], [Izobrazhenie]) VALUES (N'1015', N'Атлас однотонный "Топленое молоко"', 13, 7, 150, 100, CAST(220.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Tkan] ([Articul], [Naimenovanie], [KodCvet], [KodRisunok], [Shirina], [Dlina], [Zena], [Izobrazhenie]) VALUES (N'1016', N'Атлас однотонный "Волна"', 10, 7, 150, 100, CAST(220.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Tkan] ([Articul], [Naimenovanie], [KodCvet], [KodRisunok], [Shirina], [Dlina], [Zena], [Izobrazhenie]) VALUES (N'1017', N'Атлас однотонный "Молодая трава"', 2, 7, 150, 100, CAST(220.00 AS Decimal(18, 2)), NULL)
GO
INSERT [dbo].[Zakaz] ([Nomer], [Data], [Etap], [Stoimost], [LoginPolzovateleya], [LoginMenedzhera]) VALUES (1, CAST(N'2022-11-05T00:00:00.0000000' AS DateTime2), N'Новый', CAST(100 AS Decimal(18, 0)), N'zak', N'man')
INSERT [dbo].[Zakaz] ([Nomer], [Data], [Etap], [Stoimost], [LoginPolzovateleya], [LoginMenedzhera]) VALUES (2, CAST(N'2022-11-01T12:20:08.6469119' AS DateTime2), N'Новый', NULL, N'man', N'man')
INSERT [dbo].[Zakaz] ([Nomer], [Data], [Etap], [Stoimost], [LoginPolzovateleya], [LoginMenedzhera]) VALUES (3, CAST(N'2022-11-01T12:38:00.7340728' AS DateTime2), N'Новый', NULL, N'man', N'man')
GO
INSERT [dbo].[ZakazannieIzdeliya] ([NomerZakaza], [ArticulIzdeliya], [Kolichestvo]) VALUES (1, N'002.127.52', N'6         ')
INSERT [dbo].[ZakazannieIzdeliya] ([NomerZakaza], [ArticulIzdeliya], [Kolichestvo]) VALUES (1, N'002.988.35', N'30        ')
INSERT [dbo].[ZakazannieIzdeliya] ([NomerZakaza], [ArticulIzdeliya], [Kolichestvo]) VALUES (2, N'003.495.66', N'200       ')
GO
ALTER TABLE [dbo].[Furnitura]  WITH CHECK ADD  CONSTRAINT [FK_Furnitura_TipFurnitury] FOREIGN KEY([Tip])
REFERENCES [dbo].[TipFurnitury] ([Kod])
GO
ALTER TABLE [dbo].[Furnitura] CHECK CONSTRAINT [FK_Furnitura_TipFurnitury]
GO
ALTER TABLE [dbo].[FurnituraIzdeliya]  WITH CHECK ADD  CONSTRAINT [FK_FurnituraIzdeliya_Furnitura] FOREIGN KEY([ArticulFurnitury])
REFERENCES [dbo].[Furnitura] ([Articul])
GO
ALTER TABLE [dbo].[FurnituraIzdeliya] CHECK CONSTRAINT [FK_FurnituraIzdeliya_Furnitura]
GO
ALTER TABLE [dbo].[FurnituraIzdeliya]  WITH CHECK ADD  CONSTRAINT [FK_FurnituraIzdeliya_Tkan] FOREIGN KEY([ArticulIzdeliya])
REFERENCES [dbo].[Tkan] ([Articul])
GO
ALTER TABLE [dbo].[FurnituraIzdeliya] CHECK CONSTRAINT [FK_FurnituraIzdeliya_Tkan]
GO
ALTER TABLE [dbo].[Rulon]  WITH CHECK ADD  CONSTRAINT [FK_Rulon_Cvet] FOREIGN KEY([Cvet])
REFERENCES [dbo].[Cvet] ([Kod])
GO
ALTER TABLE [dbo].[Rulon] CHECK CONSTRAINT [FK_Rulon_Cvet]
GO
ALTER TABLE [dbo].[Rulon]  WITH CHECK ADD  CONSTRAINT [FK_Rulon_MaterialSostav] FOREIGN KEY([Sostav])
REFERENCES [dbo].[MaterialSostav] ([Kod])
GO
ALTER TABLE [dbo].[Rulon] CHECK CONSTRAINT [FK_Rulon_MaterialSostav]
GO
ALTER TABLE [dbo].[RulonIzdelie]  WITH CHECK ADD  CONSTRAINT [FK_RulonIzdelie_Izdelie] FOREIGN KEY([ArticulIzdeliya])
REFERENCES [dbo].[Izdelie] ([Articul])
GO
ALTER TABLE [dbo].[RulonIzdelie] CHECK CONSTRAINT [FK_RulonIzdelie_Izdelie]
GO
ALTER TABLE [dbo].[RulonIzdelie]  WITH CHECK ADD  CONSTRAINT [FK_RulonIzdelie_Rulon] FOREIGN KEY([ArticulRulona])
REFERENCES [dbo].[Rulon] ([Articul])
GO
ALTER TABLE [dbo].[RulonIzdelie] CHECK CONSTRAINT [FK_RulonIzdelie_Rulon]
GO
ALTER TABLE [dbo].[SkladFurnitury]  WITH CHECK ADD  CONSTRAINT [FK_SkladFurnitury_Furnitura] FOREIGN KEY([ArticulFurnitury])
REFERENCES [dbo].[Furnitura] ([Articul])
GO
ALTER TABLE [dbo].[SkladFurnitury] CHECK CONSTRAINT [FK_SkladFurnitury_Furnitura]
GO
ALTER TABLE [dbo].[SkladTkani]  WITH CHECK ADD  CONSTRAINT [FK_SkladTkani_Tkan] FOREIGN KEY([ArticulTkani])
REFERENCES [dbo].[Tkan] ([Articul])
GO
ALTER TABLE [dbo].[SkladTkani] CHECK CONSTRAINT [FK_SkladTkani_Tkan]
GO
ALTER TABLE [dbo].[SostavTkanei]  WITH CHECK ADD  CONSTRAINT [FK_SostavTkanei_MaterialSostav] FOREIGN KEY([KodMateriala])
REFERENCES [dbo].[MaterialSostav] ([Kod])
GO
ALTER TABLE [dbo].[SostavTkanei] CHECK CONSTRAINT [FK_SostavTkanei_MaterialSostav]
GO
ALTER TABLE [dbo].[SostavTkanei]  WITH CHECK ADD  CONSTRAINT [FK_SostavTkanei_Tkan] FOREIGN KEY([ArticulTkani])
REFERENCES [dbo].[Tkan] ([Articul])
GO
ALTER TABLE [dbo].[SostavTkanei] CHECK CONSTRAINT [FK_SostavTkanei_Tkan]
GO
ALTER TABLE [dbo].[Tkan]  WITH CHECK ADD  CONSTRAINT [FK_Tkan_Cvet] FOREIGN KEY([KodCvet])
REFERENCES [dbo].[Cvet] ([Kod])
GO
ALTER TABLE [dbo].[Tkan] CHECK CONSTRAINT [FK_Tkan_Cvet]
GO
ALTER TABLE [dbo].[Tkan]  WITH CHECK ADD  CONSTRAINT [FK_Tkan_Risunok] FOREIGN KEY([KodRisunok])
REFERENCES [dbo].[Risunok] ([Kod])
GO
ALTER TABLE [dbo].[Tkan] CHECK CONSTRAINT [FK_Tkan_Risunok]
GO
ALTER TABLE [dbo].[TkaniIzdeliya]  WITH CHECK ADD  CONSTRAINT [FK_TkaniIzdeliya_Izdelie] FOREIGN KEY([ArticulIzdeliya])
REFERENCES [dbo].[Izdelie] ([Articul])
GO
ALTER TABLE [dbo].[TkaniIzdeliya] CHECK CONSTRAINT [FK_TkaniIzdeliya_Izdelie]
GO
ALTER TABLE [dbo].[TkaniIzdeliya]  WITH CHECK ADD  CONSTRAINT [FK_TkaniIzdeliya_Tkan] FOREIGN KEY([ArticulTkani])
REFERENCES [dbo].[Tkan] ([Articul])
GO
ALTER TABLE [dbo].[TkaniIzdeliya] CHECK CONSTRAINT [FK_TkaniIzdeliya_Tkan]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Polzovatel] FOREIGN KEY([LoginPolzovateleya])
REFERENCES [dbo].[Polzovatel] ([Login])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Polzovatel]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Polzovatel1] FOREIGN KEY([LoginMenedzhera])
REFERENCES [dbo].[Polzovatel] ([Login])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Polzovatel1]
GO
ALTER TABLE [dbo].[ZakazannieIzdeliya]  WITH CHECK ADD  CONSTRAINT [FK_ZakazannieIzdeliya_Izdelie] FOREIGN KEY([ArticulIzdeliya])
REFERENCES [dbo].[Izdelie] ([Articul])
GO
ALTER TABLE [dbo].[ZakazannieIzdeliya] CHECK CONSTRAINT [FK_ZakazannieIzdeliya_Izdelie]
GO
ALTER TABLE [dbo].[ZakazannieIzdeliya]  WITH CHECK ADD  CONSTRAINT [FK_ZakazannieIzdeliya_Zakaz] FOREIGN KEY([NomerZakaza])
REFERENCES [dbo].[Zakaz] ([Nomer])
GO
ALTER TABLE [dbo].[ZakazannieIzdeliya] CHECK CONSTRAINT [FK_ZakazannieIzdeliya_Zakaz]
GO
USE [master]
GO
